.form-control {
    border: none;
    background-color: transparent;
    color: white;
}

.bg-dark {
    background-color: black !important;
}

.form-control:focus {
    box-shadow: none;
    background-color: transparent;
    color: white;
}

.form-control.input-active {
    padding: 12px 0px 0px 12px;
}

.btn {
    width: 100%;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #ccc;
}

.label-text {
    pointer-events: none;
    color: #ccc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: all 0.2s ease;
}

.label-text.label-active {
    top: 0;
    transform: translateY(0);
    font-size: 12px;
}



#login-container,
#register-container {
    border: 1px solid #ccc;
    width: 350px;
}

.fs-14 {
    font-size: 14px;
}

.method-name:hover {
    color: white;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.full-height {
    min-height: 100vh; 
  }
  
#ins-name i {
    background-image: url(../imgs/instagram.png);
    background-position: 0px 0px;
    background-size: auto;
    width: 175px;
    background-repeat: no-repeat;
    height: 51px;
    display: inline-block;
}

#login-container> div.bg-dark {
    padding: 16px 28px;
}